/*elemento general*/
	.fixedContainer {
	  margin: 0 auto;
	  min-height: 1000px;
	  position: relative;
	  width: 95%;
	}

/*footer*/
	a:link{
		text-decoration: none;
	}
	ul li{
		list-style: none;
		padding: 5px;
	}
	.desc-footer{
		max-width: 400px;
	}
	.footer {
		background: #263238;
		border-top: solid 3px white;
		bottom: 0;
		color: white;
		margin: 0 auto;
		min-height: 100px;
		width: 100%;
	}
	.foot{
		background: #1E282D;
		bottom: 0;
		height: 40px;
		margin: 0 auto;
		width: 100%;
	}
	.foot-left{
		padding-top: 15px;
	}
	.text-copyright{
		padding-left: 10px;
		vertical-align: middle;
	}
	.img-social{
		cursor: pointer;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 18px;
	}
	.grey{
		color: grey;
	}
	.white{
		color: white;
	}

/*navbar*/
.img-profile{
	float:left;
	padding-right: 10px;
	padding-top: 1px;
}

.profile-image{
	width:150px;
	height:150px;
	border-radius:160px;
	overflow: hidden;
	border:2px solid #428bca;
}

.badge-pill{
	cursor: pointer;
}
.title-origen, .time-create{
	color: black !important;
	letter-spacing: 1px;
}


.Baja, .alert-baja{
	background: #5bc0de !important;
}
.Intermedia, .alert-intermedia{
	background: #f0ad4e !important;
}
.Alta, .alert-alta{
	background: #d9534f !important;
}

.user-nav{
	cursor: pointer;
	color: #EEEEEE;
}

a:hover, a:active, a:focus {
	outline: none !important;
	text-decoration: none !important;
}
